.m {
  font-family: "Times New Roman", Times, serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */

  width: 100%;
  height: 100%;
}
.a {
  color: #fff;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 300px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(50% - 30px);
  flex-basis: calc(50% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #00008b;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #00bfff;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #b82aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1130px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/* .card {
        position: relative;
        width: 50rem;
        height: 30rem;
        background: #fff;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 15%;
        margin-bottom: 15%;
      }
      
      .img-bx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        transform: translateY(30px) scale(0.5);
        transform-origin: top;
      }
      
      .img-bx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 30px;
      }
      
      .content .detail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }
      
      .content .detail h2 {
        color: #000;
        font-size: 1.6em;
        font-weight: bolder;
      }
      
      .content .detail h2 span {
        font-size: 0.7em;
        color: rgb(23, 162, 197);
        font-weight: bold;
      }
      
      .sci {
        position: relative;
        display: flex;
        margin-top: 5px;
      }
      
      .sci li {
        list-style: none;
        margin: 4px;
      }
      
      .sci li a {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: transparent;
        font-size: 1.5em;
        color: #444;
        text-decoration: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: 0.5s;
      }
      
      .sci .um a:hover {
        background: #0347f4;
        color: #fff;
      }
      .sci .dois a:hover {
        background: #e32424;
        color: #fff;
      }
      .sci .tres a:hover {
        background: #03a9f4;
        color: #fff;
      }
      .sci .quatro a:hover {
        background: #e403f4;
        color: #fff;
      }
      
      @media (max-width:815px) {

        .card{
            width: 40rem;
            height: 30rem;
        }

      }

      @media (max-width:660px) {

        .card{
            width: 30rem;
            height: 20rem;
            margin-top: 20%;
            margin-bottom: 20%;
        }
        .detail{
          width: 20rem;
        }
        .sci{
          width: 20rem;
        }
        .img-bx{
          height: 15rem;
        }

      }

      @media (max-width:495px){

          .card{
            width: 20rem;
            margin-top: 15rem;
            margin-bottom: 15rem;
          }

      } */
